@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

:root {
    --baby-font: 'RocknRoll One', sans-serif;
    --baby-color-dark: rgba(28,79,82,1);
    --baby-color-light: rgba(30,174,204,1);
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;

    background: linear-gradient(90deg, var(--baby-color-dark) 0%, var(--baby-color-light) 100%);
    font-family: Montserrat,sans-serif;
}

main {
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: auto;
}

.title {
    font-family: var(--baby-font);
    color: #fff;
}

.fancy-button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: var(--baby-color-light);
    color: #fff;
    font-size: 1.5rem;
    font-family: var(--baby-font);
}

@media (max-width: 600px) {
    .fancy-button {
        font-size: 1rem;
    }

    main {
        margin: 15px;
    }

    .title {
        font-size: 1rem;
    }
}