form#url-shortener-form {
    background: rgb(236, 236, 236);
    max-width: 500px;
    margin: 10%;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-flow: row wrap;

    label {
        width: 100%;
        color: var(--baby-color-dark);
    }

    input {
        padding: 10px;
        margin: 10px 0;
        width: 100%;
        border-radius: 10px;
        border: 1px solid #1eaecc;
        font-size: 1.2rem;
        color: var(--baby-color-light);
    }

    .message {
        color: rgb(168, 13, 13);
    }
}

.success-message {
    margin: 10%;
    max-width: 500px;
}

@media (max-width: 600px) {
    form#url-shortener-form {
        margin: 20% 30px;
    }

    .success-message {
        margin: 10%;
    }
}